{% extends "layout/app.html" %}

{% block title %}
  &lt;("&lt;) | {{ doc.name }}
{% endblock %}

{% block container %}
  <h3>{{ doc.name }}</h3>
  <br />
  <iframe src="/view/{{ doc.googledoc_id }}" style="border: 0px none"
    class="doc" frameborder="1" width="1200" scrolling="no"></iframe>
  <br /><br />
  <h5>
    <span class="label label-info">This document is powered by GhostDocs (&gt;")&gt;</span>
    <span class="label label-default">@{{ user.handle }}</span>
  </h5>
{% endblock %}

{% block specific_javascript %}
  <script>
    analytics.track(
      'Viewed GhostDocs', {
          user: '{{ user.handle }}',
          doc : '{{ doc.handle }}'
      });
  </script>
{% endblock %}

{% block navbar %}
{% endblock %}

{% block menubase %}
{% endblock %}

