{% haml %}
%html
    %head
        %title -> Hello world
        -assets "css_all"
            %link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"
    %body
        %div
            Hello World
{% endhaml %}