

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    overflow-y: scroll;
}

iframe.doc {
    max-width: 100%;
    min-height: 100%;
    border: 1px solid #ddd;
}
.modal-body iframe {
    max-width: 100%;
    min-height: 100%;
    border: 0px none;
}

#previewModal .modal {
    width: 800px;
    margin-left: 320px;
}
#previewModal .modal-dialog {
    width: 800px;
}
#previewModal .modal-body {
    /* todo make this height thing automatic */
    height: 480px;
    overflow: hidden;
}

.menubar {
    height: 80px;
}

#status_message {
    padding: 5px;
}

/* ==========================================================================
   More Bootstrap defaults
   ========================================================================== */

body {
    padding-top: 0;
    padding-bottom: 0;
    min-height: 100%;
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 60px;
    background: #222;
    color: #999;
}

/* Custom container */
.container {
    margin: 0 auto;
    max-width: 1000px;
}
.container > hr {
    margin: 60px 0;
}

