/* line 3 */
html {
  background: #3bbfce;
  width: 0px auto;
  padding: 0px;
  margin: 0px;
}

/* line 9 */
body {
  border: 1px solid #cccccc;
  padding: 0px;
  margin: 0px;
  width: 1400px;
}

/* line 15 */
div.header {
  background: black;
  width: 0px auto;
  color: #efefef;
  padding: 10px 20px;
  margin: 0px 0px;
  margin-bottom: 20px;
  font-family: Arial;
}

/* line 24 */
iframe {
  margin: 0px;
  display: inline-block;
  padding: 10px;
  overflow: hidden;
  margin: 0px 10px;
  border: 0px solid black;
}
