{% extends "layout/base.html" %}

{% block page_title %}
  &lt;("&lt;) | {{ doc.name }}
{% endblock %}

{% block modal %}
  <div class="modal fade" id="previewModal" ng-controller="PreviewModalCtrl">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <ul class="nav nav-pills">
            <li ng-class="{active: (data.action == 0)}"><a href="#" ng-click="preview()">Preview</a></li>
            <li ng-class="{active: (data.action == 1)}"><a href="#" ng-click="publish()">Published</a></li>
          </ul>
        </div>
        <div class="modal-body">
          {% raw %}
          <iframe ng-src="{{data.url}}" width="800px"></iframe>
          {% endraw %}
        </div>
        <div class="modal-footer">
          <a href="#" data-url="{{ doc.googledoc_id }}" data-dismiss="modal" class="btn btn-default publish">Publish</a>
          <a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Setting -->

  <div class="modal fade" id="settingModal" ng-controller="SettingModalCtrl">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          Settings
        </div>
        <form class="form-horizontal" role="form" name="settingForm">
          <div class="modal-body">
            <div class="form-group">
              <label class="col-lg-2 control-label">Title</label>
              <div class="col-lg-6">
                <input type="text" class="form-control" ng-model="data.settings.title">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">Handle</label>
              <div class="col-lg-6">
                <input type="text" name="handle" class="form-control" ng-model="data.settings.handle" ng-pattern="word">
              </div>
              <div class="col-lg-4 control-label" style="text-align: left;" ng-show="settingForm.handle.$error.pattern">Must be single word</div>
            </div>
          </div>
          <div class="modal-footer">
            <a href="#" class="btn btn-default" data-dismiss="modal" ng-click="save()" ng-disabled="settingForm.handle.$error.pattern">Save</a>
            <a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block menubar %}
  <div class="col-md-8" id="menubar" ng-controller="MenuClickCtrl">
    <div class="btn-group">
      <button type="button" class="btn btn-primary">New</button>
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          Open
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          {% for d in recent_docs %}
            <li><a href="/in/{{ user.handle }}/{{ d.handle }}">{{ d.name }}</a></li>
          {% endfor %}
          <li class="divider"></li>
          <li><a href="#" ng-click="new_open()">Convert from Google</a></li>
         </ul>
      </div>
    </div>
    <div class="btn-group">
      <button type="button" data-url="{{ doc.googledoc_id }}" class="btn btn-default publish">Publish</button>
      <button type="button" data-url="{{ doc.googledoc_id }}" class="btn btn-default preview" data-toggle="modal" data-target="#previewModal" ng-click="preview('{{ doc.googledoc_id }}')">Preview</button>
    </div>
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#settingModal" ng-click="settings('{{ doc.googledoc_id }}')">Settings</button>
    <a href="/out/{{ user.handle }}/{{ doc.handle }}" target="blank" type="button" class="btn btn-link">Public URL</a>
  </div>
{% endblock %}

{% block container %}
  <iframe src="{% if doc.alternateLink %}{{ doc.alternateLink }}{% else %}www.google.com{% endif %}"
    class="doc" frameborder="1" height="800" width="1200"></iframe>
{% endblock %}

{% block specific_javascript %}
  <script>
    analytics.track('Edit Document', {
      user: '{{ user.handle }}',
      doc : '{{ doc.handle }}'
    });
  </script>
{% endblock %}