{% extends "layout/base.html" %}

{% block page_title %}
&lt;("&lt;) | {{ user.name }}
{% endblock %}

{% block menubar %}
<div class="col-md-8" id="menubar" ng-controller="MenuClickCtrl">
  <div class="btn-group">
    <button type="button" class="btn btn-primary">New</button>
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        Open
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        {% for d in recent_docs %}
        <li><a href="/in/{{ user.handle }}/{{ d.handle }}">{{ d.name }}</a></li>
        {% endfor %}
        <li class="divider"></li>
        <li><a href="#" ng-click="new_open()">Convert from Google</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}

{% block specific_javascript %}
<script>
{% if user.handle != "ghostie" %}
analytics.identify('{{ user.handle }}', {
  name: '{{ user.name }}',
});
{% endif %}
</script>
{% endblock %}
