-extends "layout.html.haml"
-block title
    <span style='color:red'>HELLO LIWEN</span>

    %div#ron.lai
        hihi
    <iframe src="{{ embedLink }}" width="650px" width="1080px" height="600px"></iframe>

    %div << HI!
-block head
    %div << STUFF=
